        html{
            background-image: url(Images/BK.png);
            
}
		h2{
            font-family:'Felix Titling', sans-serif;
            color:#337940;
            background-color:rgba(86, 191, 39, 0.24);
            
}
		h1{
            color:#567b5d;
            font-size: 28px;
            font-family:'Papyrus',sans-serif;
            background-color:rgba(190, 191, 162, 0.71);
            
}
        @font-face{
            font-family: '28 Days Later';
            src: url('fonts/28 Days Later.ttf');
            
}

        .asd{
            color: #234119;
            
}
        .wert{
            color: #4b2121;
            
}
        .bkg{
            background-color: #0cd; display: inline-block;
            
}
        .px2{
            width: 50%; height: 50%;
            display: block;
}
        .trew{
            font-family:'28 Days Later', serif;
            
}